<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 left">
                <h1>The one place for all your projects and team collaboration.</h1>
                <p>WorkCollab lets you work more collaboratively and get more done. Ultimate control over teams and projects easier than ever.</p>

                <a routerLink="/signup" class="btn getStartedBtn btn-primary btn-lg px-5">Get Started &nbsp;<i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="col-lg-6 col-md-12 text-center right">
                <img src="assets/img/home-main.png" width="90%">
            </div>
        </div>
    </div>
</section>

<section id="home2">
    <div class="container">
        <div class="row text-center py-5">
            <h1>Features of WorkCollab</h1>
            <div class="col-md-6">
                <div class="feature feature-l">
                    <img src="../../assets/img/home2-1.png" style="margin-bottom: -30px;" width="200">
                    <h3>It's easy to use</h3>
                    <p>When it comes to choosing the right online task management tool for your team, simplicity is key.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature feature-r">
                    <img src="../../assets/img/home2-2.png" style="margin-top: 25px; margin-bottom: 15px;" width="140">
                    <h3>It's tailored</h3>
                    <p>WorkCollab focuses on providing a tailored offering of the most essential features.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature feature-l">
                    <img src="../../assets/img/home2-3.png" width="200">
                    <h3>It’s collaborative</h3>
                    <p>Give your team the means to work together efficiently. See what everyone’s working on.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="feature feature-r">
                    <img src="../../assets/img/home2-4.png" style="margin-top: 20px; margin-bottom: 15px;" width="150">
                    <h3>It’s web-based</h3>
                    <p>Perfect for remote teams or any team that has access to the internet and wants to be productive.</p>
                </div>
            </div>
            <a routerLink="/signup" class="btn startDoingBtn btn-primary btn-lg px-5">Start Doing &nbsp;<i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</section>