<section id="home">
    <div class="container">
        <div class="row">
            <h1>Reset Your Password</h1>
            <div id="reset-pass-wrapper">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" class="form-control" #pass>
                </div>
                <div class="form-group">
                    <label for="password">Confirm New Password</label>
                    <input type="password" class="form-control" #cpass>
                </div>
                <button #resetPassBtn class="btn btn-primary px-5 mt-3" (click)="resetPass()">Submit</button>
            </div>
        </div>
    </div>
</section>