<section id="home">
    <div class="content-wrapper">
        <div class="container">

            <div *ngIf="showLoader" class="loader-wrapper">
                <div class="loader text-center">
                    <img src="../../assets/icon.gif" width="80">
                </div>
            </div>

            <div *ngIf="!showLoader">
                <div class="section_wrapper">
                    <h5>Basic Task Details</h5>
                    <span>Task Name</span>
                    <input #tname class="form-control mb-2" value="{{task.name}}">
                    <span>Description</span>
                    <textarea #desc class="form-control" value="{{task.description}}" placeholder="Add a detailed description …" style="color: black; overflow-y: auto; overflow-wrap: break-word; resize: none; height: 90px;"></textarea>
                </div>
                <div class="section_wrapper">
                    <h5>Assign Task Member</h5>
                    <p>Click on team member to assign user to this task</p>
                    <div class="pmember mb-1" *ngFor="let member of projectMembers.sort()" (click)="toggleTaskMember(member._id)">
                        <avatar-name class="avatar mr-2" [name]="member.name"></avatar-name>
                        {{member.name}}
                        <span class="float-right mt-1 mr-2" *ngIf="taskUserId && member._id == taskUserId"><i class="fa fa-check"></i></span>
                    </div>
                </div>
                <div class="section_wrapper">
                    <h5>Task Comments</h5>
                    <p>Type & Press Enter to add a comment</p>
                    <input #comment (keyup.enter)="addComment(comment.value); comment.value=''" class="form-control">
                    <div class="comments">
                        <div class="comment my-2" *ngFor="let comment of comments; let i = index">
                            <span><b>{{comment.assignedUser.name | titlecase}}</b></span>&nbsp;&nbsp; <span style="font-size: 12px;">{{comment.createdAt}}</span><br/>
                            {{comment.comment}}
                            <span class="float-right"><i (click)="confirmCommentDelete(comment._id, i)" class="fa fa-trash"></i></span>
                        </div>
                    </div>
                </div>
                <div class="section_wrapper">
                    <h5>Task Attachments</h5>
                    <input type="file" class="form-control mb-2" name="uploadFile" (change)="uploader.uploadAll()" ng2FileSelect [uploader]="uploader" />
                    <div class="attachments">
                        <div class="attachment my-2" style="cursor: pointer;" *ngFor="let attachment of attachments; let i = index">
                            <span (click)="openAttachment(attachment.fileUrl)"><b>{{attachment.name}}</b></span>
                            <span style="font-size: 12px; margin-left: 20px;">{{attachment.createdAt}}</span>
                            <span class="float-right"><i (click)="confirmAttachmentDelete(attachment._id, i)" class="fa fa-trash"></i></span>
                        </div>
                    </div>
                </div>
                <div class="section_wrapper text-center">
                    <button (click)="updateTask(desc, tname)" class="btn btn-primary mr-2">Save Changes</button>
                    <button (click)="goback()" class="btn btn-secondary mr-2">Cancel</button>
                    <button (click)="deleteTask()" class="btn btn-danger">Delete Task</button>
                </div>
            </div>

        </div>
    </div>
</section>